<a href="https://colab.research.google.com/github/ArunAnappindi/Python-Excercise/blob/main/random_excercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
repeated_list = [2] * 4
print(repeated_list)

[2, 2, 2, 2]

In [4]:
number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = i * i
 print(sq)

1
144
576
1296
121
400
2500

In [9]:
color = ['white','red', 'blue', 'green','blue','yellow', 'black']
print(color.remove('yellow'))
print(color)

None
['white', 'red', 'blue', 'green', 'blue', 'black']

In [12]:
car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
car["year"] = 2019
print(car)

{'brand': 'Audi', 'model': 'Q2', 'year': 2019}

In [13]:
a = 56
if a == 10:
 print("Hello")
else:
 print("Good Bye")

Good Bye

In [14]:
a = "I am a Data Scientist"
if "Data" in a:
 print("It is present")
else:
 print(False)

It is present

In [16]:
first = 25
second = 34
third = 45
if first >= second and first >= third:
 print(first)
elif second >= first and second >= third:
 print(second)
elif third >= first and third >= second:
 print(third)
else:
 print("All of the values are equal")

45

In [20]:
for i in range(-10, 0, 1):
 print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [21]:
n = 8
for i in range(1, 11):
 print("{} ^ {} =".format(n, i), n**i)

8 ^ 1 = 8
8 ^ 2 = 64
8 ^ 3 = 512
8 ^ 4 = 4096
8 ^ 5 = 32768
8 ^ 6 = 262144
8 ^ 7 = 2097152
8 ^ 8 = 16777216
8 ^ 9 = 134217728
8 ^ 10 = 1073741824

In [22]:
st = "Data Science"
count = 0
for i in st:
 if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
     count = count + 1
print(count)

5